@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    /* background-color: #BCCEF8; */
    background-image: linear-gradient(to bottom left,#B9E0FF, #8D72E1);
}

*{
    margin: 0;
    padding: 0;
}

#navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: #B9E0FF;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    background-image: linear-gradient(to bottom left,#8D72E1, #B9E0FF);
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   /* background-image: url('bg.jpg'); */
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: #B9E0FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 50px;
}

.songItem{
    height: 18px;
    display: flex;
    background-color: white;
    width: 100%;
    color: #8D72E1;
    padding: 2px;
    margin: 20px 0px;
    justify-content: space-between;
    border-radius: 10px;
}

.songItem img{
    width: 35px;
    margin: 0 23px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 9.6vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }

